.header{
padding: 20px 0px;
 }
 .open__menu{
  right: 50px;
 }
 @media screen and (max-width:420px) {
  .logo{
    width: 140px!important;
  }
  .icon_menu{
    width: 20px!important;
    height: 20px !important;
  }
  .open__menu{
    top: 50px;
    right:30px;
  }
 }