footer {
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer {
  padding: 40px 0px;
  ul {
    li {
      color: #fff;
    }
  }
}

address {
  color: #fff;
  text-align: center;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.list-title {
  color: #474747 !important;
}
@media screen and (max-width: 900px) {
  .footer {
    align-items: center;
    flex-direction: column;
    gap: 40px;
    ul {
      flex-direction: column !important;
      width: 100% !important;

      li {
        text-align: center;
        margin: 10px 0px;
      }
    }
  }
  .footer-list {
    align-items: center !important;
  }
}
